.section-banner {
  background-image: url('/assets/imagens/banner.jpg');
  height: 400px;
  background-size: cover;
  position: relative;
}
.section-banner .box-nome-civic-mobile {
  display: none;
}
.section-banner .box-banner-mobile {
  display: none;
}
.section-banner .box-certificado {
  position: absolute;
  bottom: 27px;
  left: 100px;
}
.section-banner .box-solicite-contato {
  z-index: 2;
  min-width: 20%;
  position: absolute;
  right: 115px;
  top: 80px;
  background: #EEEEEE;
  padding: 20px 20px;
  border-radius: 8px;
  -webkit-box-shadow: -1px 1px 7px #a5a5a5;
          box-shadow: -1px 1px 7px #a5a5a5;
}
.section-banner .box-solicite-contato .infos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.section-banner .box-solicite-contato .infos svg,
.section-banner .box-solicite-contato .infos i {
  color: #C5C5C5;
  font-size: 44px;
  -webkit-transform: rotate(-34deg);
          transform: rotate(-34deg);
}
.section-banner .box-solicite-contato .infos span {
  margin-left: 10px;
  line-height: 20px;
}
.section-banner .box-solicite-contato .infos span b {
  color: #DF0209;
  font-family: FoundryMonoline;
  font-size: 22px;
  font-weight: 400;
  text-transform: uppercase;
}
.section-banner .box-solicite-contato .box-form {
  margin-top: 20px;
}
.section-banner .box-solicite-contato .box-form form input {
  width: 100%;
  border-radius: 4px;
  border: 1px solid #ccc;
  padding: 10px 10px 10px 35px;
  background: transparent;
  position: relative;
}
.section-banner .box-solicite-contato .box-form form input:focus {
  outline: 0;
}
.section-banner .box-solicite-contato .box-form form label {
  width: 100%;
  position: relative;
  font-weight: normal;
}
.section-banner .box-solicite-contato .box-form form label:before {
  content: "\f007";
  font-family: 'Font Awesome\ 5 Free';
  position: absolute;
  left: 10px;
  top: 11px;
  font-weight: bold;
  color: #C5C5C5;
}
.section-banner .box-solicite-contato .box-form form .mail:before {
  content: "\f0e0";
}
.section-banner .box-solicite-contato .box-form form .tel:before {
  content: "\f879";
}
.section-banner .box-solicite-contato .box-form form .select {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 3em;
  line-height: 3;
  background: #EEEEEE;
  border: 1px solid #ccc;
  overflow: hidden;
  border-radius: 0.25em;
}
.section-banner .box-solicite-contato .box-form form .select select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  outline: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
  border: 0!important;
  background: #EEEEEE;
  background-image: none;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  color: #8a8989;
  cursor: pointer;
  font-family: 'Open Sans', sans-serif;
  padding-left: 36px;
}
.section-banner .box-solicite-contato .box-form form .select select option {
  color: #8a8989;
}
.section-banner .box-solicite-contato .box-form form .select select::-ms-expand {
  display: none;
}
.section-banner .box-solicite-contato .box-form form .select::after {
  content: '\25BC';
  position: absolute;
  top: 0;
  right: 0;
  padding: 0 1em;
  background: #EEEEEE;
  color: #a9a9a9;
  cursor: pointer;
  pointer-events: none;
  -webkit-transition: 0.25s all ease;
  transition: 0.25s all ease;
}
.section-banner .box-solicite-contato .box-form form .select::before {
  font-family: 'Font Awesome\ 5 Free';
  font-weight: bold;
  color: #C5C5C5;
  content: '\f017';
  position: absolute;
  left: 0px;
  top: 0px;
  padding: 0 1em;
}
.section-banner .box-solicite-contato .box-form form .select.unidade {
  margin-top: 5px;
}
.section-banner .box-solicite-contato .box-form form .select.unidade::before {
  font-family: 'Font Awesome\ 5 Free';
  font-weight: bold;
  color: #C5C5C5;
  content: '\f3c5';
  position: absolute;
  left: 0px;
  top: 0px;
  padding: 0 1em;
}
.section-banner .box-solicite-contato .box-form form .select:hover::after {
  color: #c5c5c5;
}
.section-banner .box-solicite-contato .box-form form .btn-form {
  width: 100%;
  height: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #1CB72A;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  margin: 8px auto 0px;
  border-radius: 4px;
  border: none;
  -webkit-transition: 0.6s;
  transition: 0.6s;
}
.section-banner .box-solicite-contato .box-form form .btn-form:hover {
  -webkit-transition: 0.6s;
  transition: 0.6s;
  background: red;
}
@media (min-width: 992px) and (max-width: 1280px) {
  .section-banner .box-solicite-contato {
    min-width: 24%;
  }
  .section-banner .box-solicite-contato .box-form button.btn-form {
    width: 100%;
  }
}
@media (max-width: 991px) {
  .section-banner {
    background-position-x: 15%;
  }
  .section-banner .box-certificado {
    left: 3%;
  }
  .section-banner .box-solicite-contato {
    min-width: 33%;
    top: 37px;
    right: 3%;
  }
}
@media (max-width: 480px) {
  .section-banner {
    background-image: none;
    background-position-x: inherit;
    height: auto;
  }
  .section-banner .row-form {
    padding: 0 18px;
  }
  .section-banner .box-certificado {
    display: none;
  }
  .section-banner .box-banner-mobile {
    display: block;
  }
  .section-banner .box-nome-civic-mobile {
    position: relative;
    margin-top: 28px;
    display: block;
    margin: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 100%;
  }
  .section-banner .box-solicite-contato {
    position: relative;
    min-width: 100%;
    margin-top: 35px;
    right: 0;
    top: 0;
  }
}
@media (max-width: 320px) {
  .section-banner .box-nome-civic-mobile {
    padding: 0 30px;
  }
  .section-banner .row-form {
    padding: 0 18px;
  }
}

.blog {
  padding: 35px 0;
}
.blog article figure {
  height: 180px;
}
.blog article figure img {
  border: 1px solid #D5D5D5;
  padding: 4px;
}
.blog article .box-infos h3 {
  font-family: FoundryMonoline-ExBdIta;
  font-size: 19px;
  color: black;
  margin: 20px 0 15px;
  font-weight: 500;
  opacity: 1;
}
.blog article .box-infos p {
  font-family: FoundryMonoline;
  font-size: 15px;
}
.blog .owl-nav svg,
.blog .owl-nav i {
  color: white;
  font-size: 20px;
}
.blog .owl-nav .owl-prev {
  position: absolute;
  top: 73px;
  left: 20px;
  width: 39px;
  height: 39px;
  background: rgba(213, 213, 213, 0.4) !important;
  border-radius: 50%;
}
.blog .owl-nav .owl-prev:focus {
  outline: 0;
}
.blog .owl-nav .owl-next {
  position: absolute;
  top: 73px;
  right: 20px;
  width: 39px;
  height: 39px;
  background: rgba(213, 213, 213, 0.4) !important;
  border-radius: 50%;
}
.blog .owl-nav .owl-next:focus {
  outline: 0;
}
.blog .owl-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 30px 0 0;
}
.blog .owl-dots .owl-dot {
  margin-right: 15px;
  width: 15px;
  height: 15px;
  background: #D5D5D5 !important;
  border-radius: 50%;
}
.blog .owl-dots .owl-dot:focus {
  outline: 0;
}
.blog .owl-dots .owl-dot.active {
  background: #707070 !important;
}
@media (min-width: 992px) and (max-width: 1280px) {
  .blog article figure {
    height: 212px;
  }
  .blog article figure img {
    max-width: 100%;
    margin: auto;
  }
}
@media (max-width: 991px) {
  .blog article figure {
    height: 158px;
  }
}
@media (max-width: 480px) {
  .blog article figure {
    height: auto;
  }
  .blog article .box-infos h3 {
    font-size: 20px;
    text-align: center;
  }
  .blog article .box-infos p {
    text-align: center;
    font-size: 15px;
  }
  .blog .owl-nav .owl-prev {
    top: 112px;
  }
  .blog .owl-nav .owl-next {
    top: 112px;
  }
  .blog .owl-dots {
    margin: 45px 0 30px;
  }
}

.box-emotion-driver {
  padding: 45px 0;
}
.box-emotion-driver .infos-car {
  margin-top: 45px;
}
.box-emotion-driver .infos-car .mini-images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.box-emotion-driver .infos-car .mini-images img {
  border: 1px solid #D5D5D5;
  padding: 2px;
  margin-bottom: 6px;
}
.box-emotion-driver .infos-car .big-car {
  padding: 53px 0 0 15px;
}
.box-emotion-driver .box-about-car {
  margin: 36px 0 0;
}
.box-emotion-driver .box-about-car p {
  font-family: FoundryMonoline;
  font-size: 18px;
  color: black;
}
@media (max-width: 480px) {
  .box-emotion-driver {
    margin: 40px 0 0;
    padding: 0;
  }
  .box-emotion-driver .infos-car .big-car {
    padding: 0 0 0 15px;
  }
  .box-emotion-driver .box-about-car p {
    text-align: center;
  }
}

@font-face {
  font-family: FoundryMonoline-ExBdIta;
  src: url(../assets/Fonts/web/FoundryMonoline-ExBdIta.woff2);
}
@font-face {
  font-family: FoundryMonoline;
  src: url(../assets/Fonts/web/FoundryMonoline.woff2);
}
h1,
h2,
h3,
h4,
h5 {
  margin: 0;
}
.title-sections {
  font-family: FoundryMonoline-ExBdIta;
  font-size: 34px;
}
@media (max-width: 480px) {
  .title-sections {
    text-align: center;
    text-transform: uppercase;
    font-size: 24px;
  }
}

footer {
  background: #EEEEEE;
  padding: 15px 0 0;
  margin: 50px 0 0;
}
footer .infos-socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
footer .infos-socials .balloon {
  width: 270px;
  height: 80px;
  border: 1px solid #f00;
  border-radius: 8px;
  padding: 28px;
  background: white;
}
footer .infos-socials .balloon span b {
  color: red;
}
footer .infos-socials .content-encontre {
  margin-right: 23px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
footer .infos-socials .content-encontre svg,
footer .infos-socials .content-encontre i {
  color: #bbbbbb;
  font-size: 28px;
}
footer .infos-socials .content-encontre span {
  line-height: 19px;
  margin-left: 12px;
}
footer .infos-socials .content-encontre span b {
  color: red;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 400;
}
footer .infos-socials .content-atendimento {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  padding: 25px 15px 15px 15px;
}
footer .infos-socials .content-atendimento .txt-central {
  font-family: FoundryMonoline-ExBdIta;
  font-size: 16px;
  text-transform: uppercase;
  color: #707070;
}
footer .infos-socials .content-atendimento .phone {
  font-family: FoundryMonoline-ExBdIta;
  color: red;
  font-size: 26px;
  letter-spacing: 1.5px;
}
footer .redes-sociais .follow {
  text-align: center;
  display: block;
  font-family: FoundryMonoline;
  font-style: italic;
  font-size: 24px;
  text-transform: uppercase;
  margin: 20px 0;
}
footer .redes-sociais .icons-socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
footer .redes-sociais .icons-socials a {
  background: #C5C5C5;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 15px;
  -webkit-transition: 0.6s;
  transition: 0.6s;
}
footer .redes-sociais .icons-socials a:hover {
  -webkit-transition: 0.6s;
  transition: 0.6s;
  background: red;
}
footer .redes-sociais .icons-socials a svg,
footer .redes-sociais .icons-socials a i {
  color: white;
  font-size: 20px;
}
footer .copyright {
  background: white;
  padding: 20px 0;
  margin: 15px 0 0;
}
footer .copyright .box-infos-copy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
footer .copyright .box-infos-copy .logo-honda {
  margin-right: 95px;
}
footer .copyright .box-infos-copy .box-slogan-image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 10px;
}
footer .copyright .box-infos-copy .box-slogan-image p {
  margin: 0;
  color: #707070;
}
@media (max-width: 480px) {
  footer {
    padding: 30px 0 0;
  }
  footer .infos-socials {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  footer .infos-socials .content-encontre {
    margin: auto;
  }
  footer .infos-socials .content-atendimento {
    margin: 10px auto 0;
  }
  footer .infos-socials .content-atendimento .txt-central {
    font-family: FoundryMonoline-ExBdIta;
    font-size: 16px;
    text-transform: uppercase;
    color: #707070;
  }
  footer .infos-socials .content-atendimento .phone {
    font-family: FoundryMonoline-ExBdIta;
    color: red;
    font-size: 26px;
    letter-spacing: 1.5px;
  }
  footer .redes-sociais .follow {
    color: black;
    line-height: 25px;
  }
  footer .copyright {
    padding: 20px 0;
    margin: 15px 0 0;
  }
  footer .copyright .box-infos-copy {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  footer .copyright .box-infos-copy .logo-honda {
    margin: auto;
  }
  footer .copyright .box-infos-copy .logo-honda img {
    max-width: 110px;
  }
  footer .copyright .box-infos-copy .box-slogan-image {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 38px;
  }
}

.full-painel-civic {
  background-image: url(/assets/imagens/painel-dentro.jpg);
  height: 415px;
  background-size: cover;
  position: relative;
}
.full-painel-civic .box-infos {
  position: absolute;
  bottom: 15px;
  left: 0;
  right: 0;
}
.full-painel-civic .box-infos .title-sections {
  color: white;
  text-transform: uppercase;
}
.full-painel-civic .box-infos p {
  font-family: FoundryMonoline;
  color: white;
  font-size: 18px;
}
@media (max-width: 991px) {
  .full-painel-civic {
    height: 250px;
  }
}
@media (max-width: 480px) {
  .full-painel-civic {
    background-image: url(/assets/imagens/painel-dentro-mobile.jpg);
    height: 415px;
    margin: 35px 0 0;
  }
  .full-painel-civic .box-infos p {
    text-align: center;
  }
}

.box-header .topo {
  background-color: #EEEEEE;
  padding: 2px 0;
}
.box-header .topo i,
.box-header .topo svg {
  color: #bbbbbb;
}
.box-header .topo span {
  color: #707070;
  font-family: FoundryMonoline;
  font-size: 12px;
  margin-left: 7px;
  font-weight: 500;
}
.box-header .topo .icon-portal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 20px;
}
.box-header .topo .box-local-contato {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.box-header .topo .box-local-contato .local {
  margin-right: 25px;
  height: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.box-header .topo .box-local-contato .mail {
  height: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.box-header .logo-and-infos {
  margin: 17px 0;
}
.box-header .logo-and-infos .box-atendimento {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.box-header .logo-and-infos .box-atendimento .itens {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.box-header .logo-and-infos .box-atendimento .itens .txt-central {
  font-family: FoundryMonoline-ExBdIta;
  font-size: 16px;
  text-transform: uppercase;
  color: #707070;
}
.box-header .logo-and-infos .box-atendimento .itens .phone {
  font-family: FoundryMonoline-ExBdIta;
  color: red;
  font-size: 26px;
  letter-spacing: 1.5px;
}
@media (max-width: 480px) {
  .box-header .row-mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .box-header .topo .icon-portal {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .box-header .topo .icon-portal span {
    display: none;
  }
  .box-header .topo .box-local-contato {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .box-header .topo .box-local-contato .local span {
    display: none;
  }
  .box-header .topo .box-local-contato .mail {
    margin-left: 20px;
  }
  .box-header .topo .box-local-contato .mail span {
    display: none;
  }
  .box-header .logo-and-infos .box-img-header {
    margin: 10px 0 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .box-header .logo-and-infos .box-atendimento {
    margin: 30px 0 0;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.saiba-mais article {
  border: 1px solid #D5D5D5;
  padding: 20px;
  margin: 20px 0 0;
}
.saiba-mais article img {
  display: block;
  margin: auto;
  max-width: 100%;
  height: auto;
}
.saiba-mais article .box-infos {
  margin: 15px 0 0;
}
.saiba-mais article .box-infos p {
  text-align: center;
}
.saiba-mais article .btn-saiba {
  margin-top: 20px;
  border: 1px solid #D5D5D5;
  width: 100%;
  height: 36px;
  border-radius: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: black;
  text-transform: uppercase;
  text-decoration: none;
  -webkit-transition: 0.6s;
  transition: 0.6s;
}
.saiba-mais article .btn-saiba:hover {
  -webkit-transition: 0.6s;
  transition: 0.6s;
  background: red;
  color: white;
}
@media (max-width: 480px) {
  .saiba-mais .box-hidden {
    display: none;
  }
  .saiba-mais article {
    position: relative;
  }
  .saiba-mais article .box-arrow-mobile {
    position: absolute;
    right: 25px;
    top: 95px;
  }
  .saiba-mais article .box-arrow-mobile .arrow {
    font-size: 22px;
  }
}
